@use "sass:color";
@use "sass:math";

// shared css rules
%shared {
    background-color: black;
    color: white;
}

.math { 
    $myPi : math.$pi * 0.5rem;
    $myDiv : math.div($myPi, 5);
    font-size: $myPi;
    border: $myDiv solid blue;
}

.wow { 
    font: 100;
    color: black;
    border: 4px solid;
}

.addd {
    background-color: gray;
    font-size: large;
    font-weight: bold;
}

.update { 
    color: white;
}

.test { 
    background-color: black;
}

.colorTest { 
    $primary-color : blue;
    color : $primary-color;
    border: 1px solid color.scale($primary-color, $lightness : 90%);
}

@for $var from 1 through 3 {
    .extend#{$var} {
        @extend %shared;
        // will be logged in console
        @debug "style applied to : #{$var}"
    }
}

$one : 1;
$two : 2;
$three : 3; 

@debug $one + $two == 3;